syntax: glob
*.log
*.suo
*.*old*
*.vcxproj.user
*.*backup*
*/Release*/*
*/Debug*/*
*Release*/*
*Debug*/*
*.*sdf
*ipch/*
.vs/*
Builds/*
Screenshots/*
*/Autosave/*
*/Crashes/*
*/Minimals/*
*/Thumbs.db
*.APS
*.tga
out/poidata.xml
GW2TacO151230.vspx
GW2TacO.aps
GW2TacO.psess
GW2TacO1.psess
GW2TacO160102(1).vspx
GW2TacO160102(2).vspx
GW2TacO160102.vspx
GW2TacO2.psess
GW2TacO3.psess
misc/poidata.xml
misc/sabetha.txt
misc/saved_sabetha.txt
out/Data/Karma.png
out/Data/airshippart.png
out/Data/aurillium.png
out/Data/bigmarker.png
out/Data/crystallineore.png
out/Data/east.png
out/Data/leylinecrystal.png
out/Data/north.png
out/Data/south.png
out/Data/west.png
out/GW2Overlay.exe
out/GW2Overlay.pdb
out/UI.css
out/UI.wbs
out/UI.xml
out/gw2Taco_internal.zip
out/maptimer.xml
