syntax: glob
*.log
*.suo
*.*old*
*.vcxproj.user
*.*backup*
**/Release*/*
**/Debug*/*
**/Release_MultiByte*/*
**/Debug_MultiByte*/*
*Release*/*
*Debug*/*
*.*sdf
*ipch/*
.vs/*
Builds/*
Screenshots/*
*/Autosave/*
*/Crashes/*
*/Minimals/*
*/Thumbs.db
*.APS
*.tga
out/poidata.xml
GW2TacO151230.vspx
GW2TacO.aps
GW2TacO.psess
GW2TacO1.psess
GW2TacO160102(1).vspx
GW2TacO160102(2).vspx
GW2TacO160102.vspx
GW2TacO2.psess
GW2TacO3.psess
misc/poidata.xml
misc/sabetha.txt
misc/saved_sabetha.txt
out/Data/Karma.png
out/Data/airshippart.png
out/Data/aurillium.png
out/Data/bigmarker.png
out/Data/crystallineore.png
out/Data/east.png
out/Data/leylinecrystal.png
out/Data/north.png
out/Data/south.png
out/Data/west.png
out/GW2Overlay.exe
out/GW2Overlay.pdb
out/UI.css
out/UI.wbs
out/UI.xml
out/gw2Taco_internal.zip
out/maptimer.xml
GW2TacO.VC.db
activationdata.xml
Data/arrow.png
Data/camp.png
Data/castle.png
Data/circle.png
Data/cross.png
Data/forbidden.png
Data/generic.png
Data/Guildraces/Bomb.png
Data/Guildraces/boulders.png
Data/Guildraces/dodgejump.png
Data/Guildraces/path.png
Data/Guildraces/spiderport.png
Data/Guildraces/spikes.png
Data/heart.png
Data/keep.png
Data/resource.png
Data/ruins.png
Data/spiral.png
Data/square.png
Data/star.png
Data/textbox.png
Data/tower.png
Data/trail.png
Data/triangle.png
deploy.xml
POIs/Adventure_FloorIsLava.xml
POIs/CLOCKTOWER.trl
POIs/collectibles_mursaattokens.xml
POIs/collectibles_QuirkyQuagganQuest.xml
POIs/collectibles_tabletsoftheunseen.xml
POIs/collectibles_ThoroughSampling.xml
POIs/Data/A_Crack_In_the_Ice.png
POIs/Data/Battle_bw.png
POIs/Data/Flexible_Sticks.png
POIs/Data/Halloween.png
POIs/Data/jpguide.png
POIs/Data/jpstart.png
POIs/Data/one.png
POIs/Data/portlabconsole1.png
POIs/Data/portlabconsole2.png
POIs/Data/Rising_Flames.png
POIs/Data/Shiny_Ice.png
POIs/Data/three.png
POIs/Data/tw_dot_y.png
POIs/Data/tw_fest_lunarnewyear_adventure_firecrackerlighting_sign.png
POIs/Data/tw_fest_lunarnewyear_firecrackers_firecracker.png
POIs/Data/two.png
POIs/Data/Unbound_Magic.png
POIs/Data/Winterberry_Bush.png
POIs/Festival_CanthanNewYear_Firecrackers.xml
POIs/Festival_Halloween_CarvingPumpkins.xxx
POIs/Festival_Wintersday_Orphans.xml
POIs/Gemini-Magma-Stones.xml
POIs/Gemini_Recorders.xml
POIs/GuildRaces.xml
POIs/JP_Megapack.xml
POIs/raid2_bastionofthepenitent.xml
POIs/resourcenode.ore.xml
POIs/resourcenode.plant.xml
POIs/resourcenode.unbound.sirenslanding.xml
POIs/resourcenode.unbound.xml
POIs/resourcenode.wood.xml
POIs/tw_ALL_IN_ONE.taco
version.txt
TacOConfig.xml
*.dmp
poidata.xml
notepad.txt
*.taco
*.bck